<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AnguLOL</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="./lib/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

	<script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
  <link href="./css/index.css" rel="stylesheet"></link>
</head>
<body>
	<div id="content" ng-app="index.app">
    <div ng-controller="index.controller">
      <div class="options row">
        <input class="name-input" type="text" ng-model="search_input"/>
        <button class="waves-effect waves-light btn" ng-click="search()">Search</button>
      </div>
      <div class="row">
        <div class="game-list-container col s5">
          <h4 ng-show="username_bool">Summoner: {{username}}</h4>
          <ul>
            <li ng-click="gameDetail(game)" ng-repeat="game in game_data">
              <div>{{ game.date }}</div>
              <div>K/D/A</div>
              <div>{{game.kills}}/{{game.deaths}}/{{game.assists}}</div>
            </li>
          </ul>
        </div>
        <div class="game-single-container col s5" ng-show="game_data_bool">
          <my-game></my-game>
        </div>
      </div>
    </div>
  </div>
  <script src="./data/champData.js"></script>
  <script src="./config/config.js"></script>
	<script src="./index.js"></script>
	<script src="./controllers/index_controller.js"></script>
  <script src="./services/service.js"></script>
</body>
</html>